$primary-color: #d1e8e2;
$secondary-color: #19747e;
$tertairy-color: #e2e2e2;
$font-color: #2b2c2c;
$background-color1: #f2efec;
$success-color: #a9d6e5;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Margin
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 6rem;
$margin-extra-large: 20px;

// Padding
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;
$padding-extra-large: 20px;

// Border
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;
$border-radius-extra-large: 20px;

// Font
$font-size-small: 10px;
$font-size-medium: 15px;
$font-size-large: 20px;
$font-size-extra-large: 25px;
