@import "../../../stylesConfig/stylesConfig.scss";

.retreatsWrapper {
  padding: 8rem 0rem;
  position: relative;
  height: 100%;
  .header {
    display: flex;
    gap: 5rem;
    padding: 0 10rem;
    .headerImg {
      width: 80%;

      img {
        width: 100%;
        height: 800px;
      }
    }
    p {
      font-style: italic;
      font-size: 1.2rem;
      color: $secondary-color;
      width: 85%;
    }

    h2 {
      font-size: 4.5rem;
    }
  }
}

.retreatsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  gap: 4rem;

  padding: 7rem 0rem;
  .gallery {
    width: 40%;
    height: 500px;
    background-color: $tertairy-color;
    padding: 5rem 11rem 5rem 6rem;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;

    :global {
      .swiper {
        height: 500px;
        img {
          width: 100%;
          height: auto;
          border-radius: 3% !important;
        }

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.3s ease;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #333;
        }

        .swiper-pagination-bullet {
          background-color: #787777;
        }

        .swiper-pagination-bullet-active {
          background-color: #333;
        }
      }
    }
  }

  .galleryColor {
    background-color: #fff;
  }
}

.retreatsInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  padding-left: 6rem;

  h2 {
    font-size: 3rem;
  }

  & > p {
    font-style: italic;
    color: $secondary-color;
    margin-top: -0.1rem;
  }

  .includesTitle {
    font-size: 2.5rem !important;
  }
  .includes {
    p {
      display: flex;
      align-items: center;
      justify-content: end;
      letter-spacing: 0.2rem;
      font-size: 0.9rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .priceCon {
    h5 {
      font-size: 1.3rem;
      margin-top: 2rem;
    }

    p {
      span.title {
        text-align: right;
        font-size: 1rem;
        letter-spacing: 0.2rem;
      }
      .line {
        width: 0.1rem;
        height: 0.3rem;
        border: 2px solid $secondary-color;
        background-color: $secondary-color;
      }

      span {
        margin-left: 1rem;
      }

      .margin {
        margin-left: 1.5rem;
      }
    }
  }
}

.flipped {
  flex-direction: row-reverse;
  background-color: $tertairy-color;
}

.flippedCon {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .retreatsWrapper {
    padding: 4rem 0rem;

    .header {
      flex-direction: column;
      gap: 2rem;
      padding: 0 2rem;

      img {
        width: 100%;
        height: auto !important;
      }

      p {
        font-style: italic;
        font-size: 1rem;
        color: $secondary-color;
      }

      h2 {
        font-size: 2.2rem;
      }
    }
  }

  .retreatsCon {
    flex-direction: column;
    align-items: center;

    .gallery,
    .retreatsInfo {
      width: 100%;
      padding: 3rem;
      text-align: center;
      align-items: center;
    }

    .gallery {
      padding: 2rem;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      :global {
        .swiper {
          height: 350px;
          img {
            width: 80%;
            height: auto;
          }

          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s ease;
          }

          .swiper-button-next,
          .swiper-button-prev {
            font-size: 0.1rem !important;
          }
        }
      }
    }

    .retreatsInfo {
      padding-right: 2rem !important;
      margin-right: 1.5rem;
      margin-left: 2rem;
      width: 90%;
      h2 {
        font-size: 2rem;
      }
      .includesTitle {
        text-align: end;
        font-size: 1.5rem !important;
      }

      .includes {
        p {
          justify-content: right;
          text-align: end;
          font-size: 0.7rem;
          img {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
      }

      .priceCon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        h5 {
          font-size: 0.9rem;
          margin-top: 1rem;
        }

        p {
          span.title {
            font-size: 0.6rem;
            letter-spacing: 0.2rem;
          }

          .line {
            width: 0.01rem;
            height: 0.2rem;
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
          }

          span {
            margin-left: 1rem;
            font-size: 0.6rem;
          }

          .margin {
            margin-left: 1.3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .retreatsWrapper {
    padding: 2rem 0rem;
  }

  .retreatsCon {
    padding: 3rem 1rem;
    gap: 2rem;

    .gallery,
    .retreatsInfo {
      padding: 2rem 1rem;
    }
  }
}
