.card {
  position: relative;
  width: 100%; /* Set width to 100% to allow flex to control it */
  min-height: 750px; // adjust as needed
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white; // adjust if needed
  overflow: hidden;
  text-decoration: none; // ensure no underline on link
  transition: all 0.4s ease; // smooth transition for hover effects
  border-radius: 2%;
  box-sizing: border-box; /* Include padding and border in the total width and height */

  &:hover {
    cursor: pointer;
    filter: brightness(0.9); // reduce brightness by 10%
    transform: scale(1.05); // slightly enlarge the card
  }

  .comingSoon {
    position: absolute;
    top: 10%;
    left: 22%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    img {
      width: 10rem;
    }
  }
}

.link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none; // ensure no underline on link
}

.content {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); // optional background for better text visibility
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;

  h4 {
    font-size: 2rem;
    padding-top: 25rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    width: 75%;
  }
}

@media screen and (min-width: 1800px) {
  .card {
    min-height: 350px; // adjust as needed
    .content {
      h4 {
        font-size: 1.6rem;
        padding-top: 2rem;
      }

      p {
        font-size: 1.1rem;
        margin-bottom: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .card {
    min-height: 350px; // adjust as needed
    .content {
      h4 {
        font-size: 1.6rem;
        padding-top: 27rem;
      }

      p {
        font-size: 1.1rem;
        margin-bottom: 4rem;
      }
    }
  }
}
@media screen and (min-width: 1290px) {
  .card {
    min-height: 350px; // adjust as needed
    .content {
      h4 {
        font-size: 1.6rem;
        padding-top: 16rem;
      }
    }
    .comingSoon {
      top: 10%;

      img {
        width: 7rem;
      }
    }
  }
}
/* Responsive adjustments */
@media (min-width: 769px) and (max-width: 1084px) {
  .card {
    position: relative;
    width: 100%; /* Set width to 100% to allow flex to control it */
    min-height: 350px; // adjust as needed
    .content {
      h4 {
        font-size: 1.4rem;
        padding-top: 9rem;
      }

      p {
        font-size: 1rem;
        width: 75%;
      }
    }
    .comingSoon {
      top: 12%;
      left: 24%;

      img {
        width: 6rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    min-height: 350px; /* Adjust height for mobile screens */
  }

  .content h4 {
    font-size: 1.4rem; /* Adjust font size for mobile screens */
    margin-bottom: 0rem;
    padding: 13rem 0.5rem 0 0.5rem;
  }

  .content p {
    font-size: 0.8rem; /* Adjust font size for mobile screens */
    padding-bottom: 2rem;
  }

  .comingSoon {
    position: absolute;
    top: 15% !important;
    left: 24% !important;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    img {
      width: 8rem !important;
    }
  }
}
